@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #080808;
  --background-start-rgb: rgb(205, 210, 211);
  --background-end-rgb: rgb(245, 245, 245);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: rgb(255, 255, 255);
    --background-start-rgb: rgb(0, 0, 0);
    --background-end-rgb: rgb(0, 0, 0);
  }
} */

body {
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}

main {
  min-height: 100dvh;
  min-height: 100vh;
}

.link {
  color: #4A87C9;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}